.box{
    font-family: 'Quintessential', cursive;
    text-align: center;

}

.positionbox{
    margin: 2% 10%;
    border: black 1px solid;
    height: 500px;
    width: 1000px;
}
input:click{
    empty-cells: hide;
}
button{
    width: 100px;
    height: 50px;
    margin-left: 45%;
    margin-bottom: 3%;;
    text-align: center;
}
button:hover{
    color: coral;
}
button:active{
    background-color:grey;
}


